* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding: 15px;
    background-color: orange;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav div h1 {
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    flex: 1 1 auto;
    color: white;
}

header nav div ul {
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    border: 1px solid white;
    border-radius: 10px;
}

header nav div ul li {
    color: white;
    margin: 10px;
    font-size: 20px;
}

button {
    padding: 10px;
    margin: 20px;
    background-color: rgb(247, 247, 247);
    color: rgb(255, 191, 73);
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

.quiz-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#question-container {
    justify-content: center;
}

#answers {
    justify-content: center;
}

#starter {
    font-size: 30px;
    padding: 20px 50px 20px 50px;
}



.holder {
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.holder h2 {
    padding: 10px;
}


.highscore-text {
    padding: 5px 0px 10px 5px;
}

.timerholder {
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: center;

}